/*body {*/
/*    overflow-x: hidden;*/
/*}*/

.bg-image-blur {
    background-image: url("https://media.gq-magazine.co.uk/photos/5e5fc5ac63f53f0008cede5c/16:9/w_2240,c_limit/20200304-Anderson-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    background-clip: border-box;

    /* Apply blur to the background image */
    /*filter: blur(2px);*/
}

.blur {
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(201, 212, 218, 0);
    width: 100%;
    height: 100%;
    filter: blur(12px);
}

.fg-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1500px;
    z-index: 10; /* Adjust this value as needed */
    overflow: visible;
    /*padding-top: 1700px!* Add the height of your navbar here, for example, 80px; *!*/
}

.navbar-content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    text-align: center;
    z-index: 15; /* Ensure that the navbar is on top of everything */
    height: 80px;/* Set the height of your navbar, for example, 80px; */
    padding-bottom: 100px;
}
